@model SalesWebMvc.Models.ViewModels.SalesFormViewModel

@{
    ViewData["Title"] = "SearchByFilter";



    int g = ViewBag.Group;

}

<h2 class="page-header">@ViewData["Title"]</h2>

<div>
    <nav class="navbar navbar-inverse">

        <div class="container-fluid">
            <form class="navbar-form navbar-left" role="search">

                <div class="form-group">
                    <div class="form-group">
                        <label for="minDate">Min Date</label>
                        <input type="date" class="form-control" name="minDate" value=@ViewData["minDate"] />
                    </div>
                    <div class="form-group">
                        <label for="maxDate">Max Date</label>
                        <input type="date" class="form-control" name="maxDate" value=@ViewData["maxDate"] />
                    </div>
                    <div class="form-group">
                        <label asp-for="Department" class="control-label"></label>
                        <select asp-for="Department.Id" asp-items="@(new SelectList(Model.Departments,"Id","Nome"))" class="form-control">
                            <option selected value="">---   ---   ---</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Seller" class="control-label"></label>
                        <select asp-for="Seller.Id" asp-items="@(new SelectList(Model.Sellers,"Id","Name"))" class="form-control">
                            <option selected value="">---   ---   ---</option>
                        </select>
                    </div>


                </div>

                <button type="submit" class="btn btn-primary">Filter</button>
                <br />
                <br/>
                <div class="form-group">
                    <label class="control-label"> Grouping by </label>
                    <select name="selectGroup" onchange="this.form.submit()">
                        <option value="1">Department</option>
                        <option value="2">Seller</option>
                        <option value="3">Sale</option>
                        <option value="4">Date</option>
                        <option selected value="">---   ---   ---</option>
                    </select>
                </div>

            </form>
        </div>
    </nav>

        @{
            if (g == 0)
            {
                <partial name="Grouped/_Default" model=@Model />
            }
            if (g == 1)
            {
                <partial name="Grouped/_SalesByDepartments" model=@Model />
            }
            if (g == 2)
            {
                <partial name="Grouped/_SalesBySeller" model=@Model />
            }

        }
        @{
            if (!Model.Sales.Any())
            {
                <div class="text-warning">
                    <h3>Nenhum resultado encontrado para os dados fornecidos!.</h3>
                </div>
            }
        }

    

</div>
